@font-face {
    font-family: 'Arial Narrow'; 
    src: url('/static/font/arialnarrow.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/static/font/arialnarrow_bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/static/font/arialnarrow_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('/static/font/arialnarrow_bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

:root {
    --hover-tool-tip: rgb(124, 124, 124);
    --hover-tool-tip2:rgb(109, 109, 109);
    --hover-tool-tip3:rgb(212, 212, 212);
    
    --greay-text-bottom-vid: #afb0b3;
    --greay-border-hover-vid-cont: rgb(167, 167, 167);
    --greay-back-hover-vid-cont: rgba(133, 133, 133, 0.2); 
    --greay-text-hybrid: #6b6d70;
    --hr-color: #3b3b3b;
    --footer-back: #0e0e12;
    --right-side-back: rgb(238, 239, 242);

    --scrollbar-back: rgb(43, 43, 43);
    --scrollbar-polz: rgb(105, 105, 105);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: visible;
}

html {
  scrollbar-width:initial;
  scrollbar-color: var(--scrollbar-polz) var(--scrollbar-back);
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}

header {   
    position: absolute;
    top: 0;
    width: calc(100% - 160px);
    height: 76px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: transparent;
    gap: 2px;
    padding: 0 80px;
    z-index: 2;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-aside,
.header-bside,
.header-cside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    position: relative;
}

.menu-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.menu-container:hover{
    background: var(--hover-tool-tip);
    transition: 0.3s ease;
}

.menu-label {
    color: white;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
    margin: 0;
}

.menu-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background: var(--hover-tool-tip);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none;
}

.header-aside:hover .menu-tooltip,
.header-bside:hover .menu-tooltip,
.header-cside:hover .menu-tooltip{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(3px);
}

.menu-icon {
    width: 17px;
    height: 17px;
    stroke: white;
    stroke-width: 1;
}

.header-aside:hover .menu-icon,
.header-bside:hover .menu-icon,
.header-cside:hover .menu-icon {
    fill: #ffffff;
}

.header-bside {
    display: flex;
    align-items: center;
    height: 40px;
}

.header-bside svg {
    width: 210px; 
    height: auto; 
    fill: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1997;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 65%;
    height: 100%;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 1998;
    overflow-y: auto;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: calc(30% - 10px);
    background: none;
    border: none;
    width: 35px;
    height: auto;
    cursor: pointer;
    filter: brightness(0) invert(1);
    z-index: 1999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

/* .close-btn:hover {
    background-color: var(--hover-tool-tip2);
} */

.menu-content {
    display: flex;
    width: 100%;
    gap: 40px;
    height: 100%;
    justify-content: space-between;
}

.menu-open .side-menu {
    left: 0;
    
}

.menu-open .overlay {
    opacity: 1;
    visibility: visible;
}

.menu-open .close-btn {
    opacity: 1;
    visibility: visible;
}

.left-side,
.right-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 40px 40px;
}

.left-side{
    padding-right: 0;
}

.right-side{
    background-color: var(--right-side-back);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}


.left-side-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.menu-back-btn{
    position: absolute;
    top: 40px;
}


.back-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;    
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding: 5px 7px;
    border-radius: 4px;

    border: none;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
}

.back-btn img{
    width: 25px;
}

.model-signatures-menu{
    text-align: center;
    align-items: center;
}

.model-signatures-menu img:first-child{
    max-width: 130px;
    height: auto;
    margin-bottom: 26px;
}

.variant-actions{
    gap: 8px;
    position: sticky;
    inset-block-end: 0px;
    padding-block: 12px 16px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}


.side-button{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    border-radius: 4px;
    padding: 10px 10px;
    border: none;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease;
    min-width: 240px;
    width: 100%;
    cursor: pointer;    
    -webkit-backdrop-filter: blur(32px);
}

.side-button.active{
    backdrop-filter: blur(32px);
    background-color: rgba(148, 149, 152, .18);
}

.side-button:hover{
    backdrop-filter: blur(32px);
    background-color: rgba(148, 149, 152, .18);
}

.side-button img{
    width: 24px;
    height: auto;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
}

.purchase-content,
.services-content,
.experience-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.purchase-content .arrow-area,
.services-content .arrow-area,
.experience-content .arrow-area{
    font-size: 19px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}


.car-card{
    width: calc(100%-40px);
    height: auto;
    border:none;
    border-radius: 6px;
    padding: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.car-card:hover {
    background-color: white; 
}

.car-card .model-name{
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 5px;
}

.car-card .model-count{
    color: var(--greay-text-hybrid);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.car-card img{
    width: 100%;

    height: auto;
    transition: padding 0.3s ease;
}

.car-card:hover img {
    padding-left: 10px; 
}

.car-types{
    display: flex;
    gap: 7px;
    padding-top: 5px;
}

.car-types span{
    display: flex;
    gap: 7px;
    border-radius: 6px;
    border: none;
    padding: 4px 7px;
    background-color: white;
    transition: background-color 0.3s ease; 
}

.car-card:hover .car-types span {
    background-color: var(--right-side-back); 
}

footer{
    padding: 60px 0 120px 0;
    background-color: var(--footer-back);
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.current-reg{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: left;
    color: white;
    width: 90%;
    font-weight: 600;
    font-size: 22px;
}

.cur-reg-title{
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.cur-reg-subtitle{
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;

}

.cur-reg-subtitle.space{
    block-size: 2rem;
    margin: 8px 0;
}

.country-leng-text{
    display: flex;
    padding-bottom: 48px;
}

.logo-leng-countr{
    display: flex;   
    align-items: center;
    justify-content: left;
    font-weight: 500;
}

.logo-leng-countr svg{
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.logo-leng-countr span{
    font-size: 18px;
    padding-right: 24px;
}

.logo-leng-countr a{
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

footer .content{
    display: flex;
    gap: 50px;
    width: 100%;
    flex-direction: row;
    padding-bottom: 30px;
}

footer .content.gapper{
    gap: 150px;
}


footer .content .col{
    display: flex;
    gap: 10px;
    max-width: 300px;
    flex-direction: column;
}

.cur-reg-btn{
    display: flex;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: calc(100% - 52px);
    font-weight: 400;
    justify-content: center;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 26px;
    transition: all 0.3s ease;
    align-items: center;
}

.cur-reg-btn img{
    width: 24px;
    height: auto;
}

.cur-reg-btn:hover{
    background-color: rgb(194, 194, 194);
}

.social-btns{
    display: flex;
    gap: 10px;
}

hr {
    border-color: var(--hr-color);
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    background: none;
    margin: 48px 0;
}

footer section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    font-weight: 400;
    
}

footer section div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    line-height: 24px;
}

footer section div span{
    text-decoration: underline;
}

/*catalog b*/
.video-cont{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
    z-index: 0;
}

.video-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    z-index: 0;
    pointer-events: none;
}

.video-cont::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    z-index: 0;
    pointer-events: none;
}

.video-cont video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.video-cont-text{
    position: absolute;
    display: flex;
    flex-direction: column;    
    left: 10%;
    bottom: 25%;
    gap: 25px;
    z-index: 1;
}

.video-cont-text .text-hover{
    color: white;
    font-weight: 500;
    font-size: 80px;
    transform: translate(0px);
}

.video-cont-button{
    padding: 13px 26px;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
    text-align: center;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.video-cont-button:hover{
    transition: all 0.3s ease;
    background-color: rgba(133, 133, 133, 0.2);
    border: 2px solid var(--greay-border-hover-vid-cont);
}

.video-cont-dop-info{
    position: absolute;
    bottom: 4%;
    margin: 0 auto;
    width: calc(100% - 20px);
    text-align: center;
    padding: 0 10px;
    z-index: 2;
}

.video-cont-dop-info p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--greay-text-bottom-vid);
    font-size: 12px;
    line-height: 22.5px;
}

.video-cont-pouse-btn{
    z-index: 1;
    position: absolute;
    bottom: 6%;
    right: 3%;
    z-index: 2;
}

.video-cont-pouse-btn .video-cont-button{
    width: 54px;
    height: 54px;
    padding: 0;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
    text-align: center;
    line-height: 50px; 
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
}

.hybrid-cont{
    margin: 77px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.hybrid-info{
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.card {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 4/3; 
}

.card-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; 
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, transparent 100%);
    pointer-events: none;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.card:hover .header-img {
    transform: scale(1.05);
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 50px);
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 100%);
    padding: 18px 25px;
    z-index: 1;
    color: white;
}

.card-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.card-title {
    font-family: 'Arial Narrow';
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    max-width: 180px;
    line-height: 24.5px;
}

.arrow-area{
    padding: 5px;
    border-radius: 4px;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    width: fit-content;
    
}

.arrow-area-text{
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: all 1s ease;
}

.arrow-area:hover{
    background: var(--hover-tool-tip3);
    transition: all 0.3s ease;
}

.card-arrow {
    width: 25px;
    height: auto;
    filter: brightness(0) invert(1);
    transform: rotate(-90deg);
    font-weight: 300;
    transition: transform 0.3s ease;
}

.card:hover .card-arrow {
    transform: rotate(-90deg) translateY(0px);
}

.text-under-cards{
    color: var(--greay-text-hybrid);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .hybrid-info {
        max-width: 90%;
    }
}

.Car-Range-cont{
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;

}

.yuor-p{
    padding: 0 30% 96px 0;
    font-size: 56px;
    color: black;
    transition: all 0.3s ease;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin: 0;
}

.Car-Range-row {
    display: flex;
    gap: 20px;
    width: 1700px;
    height: auto;
    padding: 0 5%;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}




/* .model–µtaycan {
    grid-column: 1;
    grid-row: 2;
}

.modelpanamera {
    grid-column: 2;
    grid-row: 2;
}

.modelmacan{
    grid-column:1;
    grid-row: 3;
}

.modelcayenne{
    grid-column: 2;
    grid-row: 3;
} */

.car-model {
    position: relative;
    overflow: hidden;
    background: #000000;
    border-radius: 15px;
    cursor: pointer;
    flex: 1;
    transition: flex 0.6s ease, filter 0.4s ease;
}

.car-model::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    z-index: 1;
    pointer-events: none;
}

.car-model::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    z-index: 1;
    pointer-events: none;
}

.car-model.active {
    flex: 1.2;
    z-index: 2;
}

.car-model.shrink {
    flex: 0.8;
    filter: brightness(0.8);
}

.car-image-container {
    position: relative;
    width: 100%;
    min-width: 500px;
    height: 600px;
    overflow: hidden;
}

.car-image-container img,
.car-image-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.car-image-container video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.car-model.active .car-image-container video {
    opacity: 1;
}

.car-model.active .car-image-container img {
    opacity: 0;
}

.car-info {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.car-footer{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.car-code img{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 180px;
    height: auto;
    transform: translateX(-50%);
    filter: brightness(0) invert(1);
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 30px 0;
    z-index: 1;
}

.car-model.model911 .car-code img,
.car-model.model718 .car-code img{
    width: 80px;
}

.car-model.active .arrow-area-text {
    opacity: 1;
}


.car-type{
    padding: 2px 7px;
    background: var(--hover-tool-tip);
    width: fit-content;
    color: white;
    border-radius: 6px;
}

.car-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}


.discover-cont{
    width: 100%;
    text-align: center;
}

.discover-cont h2{
    font-size: 40px;
    color: white;
    padding: 180px 0;

}
/*catalog*/

/*models begin*/

.models-page{
    min-height: 100vh;
    background-color: var(--right-side-back);
    width: calc(100% - 160px);
    padding: 0 80px;
    padding-top: 130px;
}

.models-page h1{
    font-size: 44px;
    padding-bottom: 65px;
}

/* 
.models-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
    z-index: 1;
    pointer-events: none;
} */

/*models*/

