{% extends "base.html" %}

{% block content %}

    <div class="video-cont">
        <video autoplay loop muted preload="none" loading="lazy">
            <source src="{{ url_for('static', filename='video/1.mp4') }}">
        </video>
        <div class="video-cont-text">
            <h1 class="text-hover">
                GT3 RS.
            </h1>
            <a href="" class = "video-cont-button">{{ _('Discover more') }}</a>
        </div>
        <div class = "video-cont-dop-info">
            <p>{{ _('Fuel consumption combined (model range): 11.7 – 10.7 l/100 km, CO₂-emissions combined (model range): 267 – 243 g/km') }}</p>
        </div>
        <div class = "video-cont-pouse-btn">
            <a class = "video-cont-button">❚❚</a>
        </div>
    </div>
    <div class="hybrid-cont">
        <div class="cards">
            <div class="card">
                <div class="card-image-container">
                    <img src="{{ url_for('static', filename='img/cars/macan-electric/1.jpg') }}" class="header-img" alt="{{ _('car') }}">
                    <div class="card-overlay">
                        <div class="card-content">
                            <h3 class="card-title">{{ _('Macan Electric') }}</h3>
                            <span class="card-arrow">→</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="{{ url_for('static', filename='img/cars/carrera-t/1.webp') }}" class="header-img" alt="{{ _('car') }}">
                    <div class="card-overlay"> 
                        <div class="card-content">
                            <h3 class="card-title">{{ _('911 Carrera T') }}</h3>
                            <span class="card-arrow">→</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="{{ url_for('static', filename='img/cars/panamera-turbo-E-Hybrid/1.webp') }}" class="header-img" alt="{{ _('car') }}">
                    <div class="card-overlay">
                        <div class="card-content">
                            <h3 class="card-title">{{ _('Panamera Turbo E-Hybrid') }}</h3>
                            <span class="card-arrow">→</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block scripts %}
    <script src="{{ url_for('static', filename='js/catalog.js') }}"></script>
    {% endblock %}
{% endblock %}

