{% extends "base.html" %}

{% block content %}

    <div class="video-cont">
        <video autoplay loop muted preload="none" loading="lazy">
            <source src="{{ url_for('static', filename='video/begin-page-video.mp4') }}">
        </video>
        <div class="video-cont-text">
            <h1 class="text-hover">
                GT3 RS.
            </h1>
            <a href="/models" class = "video-cont-button">{{ _('Discover more') }}</a>
        </div>
        <div class = "video-cont-dop-info">
            <p>{{ _('Fuel consumption combined (model range): 11.7 – 10.7 l/100 km, CO₂-emissions combined (model range): 267 – 243 g/km') }}</p>
        </div>
        <div class = "video-cont-pouse-btn">
            <a class = "video-cont-button">❚❚</a>
        </div>
    </div>
    <div class="hybrid-cont">
        <div class="hybrid-info">
            <div class="cards-grid">
                <div class="card">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename='img/cars/macan/macan-electic-pre-catalog.webp') }}" class="header-img" alt="{{ _('car') }}">
                        <div class="card-overlay">
                            <div class="card-content">
                                <h3 class="card-title">{{ _('Macan Electric') }}.</h3>
                                <div class="arrow-area" onclick="window.location.href='/models/Macan/Macan%20Electric'">
                                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename='img/cars/cayenne/cayenne-pre-catalog.webp') }}" class="header-img" alt="{{ _('car') }}">
                        <div class="card-overlay">
                            <div class="card-content">
                                <h3 class="card-title">{{ _('Cayenne') }}.</h3>   
                                <div class="arrow-area" onclick="window.location.href='/models/Cayenne/Cayenne'">
                                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename='img/cars/taycan/taycan-pre-catalog.webp') }}" class="header-img" alt="{{ _('car') }}">
                        <div class="card-overlay"> 
                            <div class="card-content">
                                <h3 class="card-title">{{ _('Taycan Sport Turismo') }}.</h3>
                                <div class="arrow-area" onclick="window.location.href='/models/Taycan/Taycan%20Sport%20Turismo'">
                                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-under-cards">
                {{ _('Macan Electric: Electric energy consumption combined (model range): 20.4 – 17.8 kWh/100 km, CO₂-emissions combined (model range): 0 g/km | Cayenne: Fuel consumption combined (model range): 11.7 – 10.7 l/100 km, CO₂-emissions combined (model range): 266 – 243 g/km | Taycan Turbo Cross Turismo: Electric energy consumption combined (model range): 21.4 – 18.9 kWh/100 km, CO₂-emissions combined (model range): 0 g/km') }}
            </div>
        </div>
    </div>
    <div class="Car-Range-cont">  
        <h2 class="yuor-p">{{ _('Your Porsche journey starts now') }}.</h2>
    
        <div class="Car-Range-row">
            <div class="car-model model911" data-video="{{ url_for('static', filename='video/911-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/911.svg') }}" alt="911">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/911/1.jpg') }}" alt="911">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                <div class="car-description">{{ _('Iconic sports car with rear engine: 2 doors, 2+2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/911'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            </div>
            <div class="car-model model718" data-video="{{ url_for('static', filename='video/718-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/718.svg') }}" alt="718">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/718/1.jpg') }}" alt="718">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                    <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                    <div class="car-description">{{ _('Precise mid-engine sports car: 2 doors, 2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/718'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                </div>
            </div>
        </div>
        <div class="Car-Range-row">
            <div class="car-model modelеtaycan" data-video="{{ url_for('static', filename='video/taycan-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/taycan.svg') }}" alt="taycan-signature">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/taycan/taycan-catalog-video.jpg') }}" alt="taycan">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                <div class="car-description">{{ _('Iconic sports car with rear engine: 2 doors, 2+2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/Taycan'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            </div>
            <div class="car-model modelpanamera" data-video="{{ url_for('static', filename='video/panamera-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/panamera.svg') }}" alt="panamera-signature">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/panamera/panamera-catalog.jpg') }}" alt="panamera">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                <div class="car-description">{{ _('Precise mid-engine sports car: 2 doors, 2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/Panamera'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            </div>
        </div>
        <div class="Car-Range-row">
            <div class="car-model modelmacan" data-video="{{ url_for('static', filename='video/macan-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/macan.svg') }}" alt="macan">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/macan/macan-catalog.jpg') }}" alt="macan">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                <div class="car-description">{{ _('Iconic sports car with rear engine: 2 doors, 2+2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/Macan'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            </div>
            <div class="car-model modelcayenne" data-video="{{ url_for('static', filename='video/cayenne-catalog.mp4') }}">
            <div class="car-code">
                <img src="{{ url_for('static', filename='img/model-signatures/cayenne.svg') }}" alt="cayenne">
            </div>
            <div class="car-image-container">
                <img src="{{ url_for('static', filename='img/cars/cayenne/cayenne-catalog.jpg') }}" alt="cayenne">
                <video class="car-video" muted loop></video>
            </div>
            <div class="car-info">
                <div class="car-footer">
                <div class="car-type"><span>{{ _('Gasoline') }}</span></div>
                <div class="car-description">{{ _('Precise mid-engine sports car: 2 doors, 2 seats') }}</div>
                </div>  
                <div class="arrow-area" onclick="window.location.href='/models/Cayenne'">
                    <p class="arrow-area-text">{{ _('Explore') }}</p>            
                    <svg class="card-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M12 2L5 9M12 2L19 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class = "discover-cont">
        <h2>Discover</h2>
    </div>


    {% block scripts %}
    <script src="{{ url_for('static', filename='js/catalog.js') }}"></script>
    {% endblock %}
{% endblock %}

