{% extends "base.html" %}

{% block title %}Porsche {{ model.series }} {{ model.subseries }}{% endblock %}

{% block content %}
    <section class="model-side-cont">
        <div class="model-intro-gradient"></div>
        <div class="model-intro-signature">
            <img src="{{ url_for('static', filename='img/model-signatures/' + model.series + '.svg') }}" alt="{{ model.series }}">
        </div>
        <div class = "side-img-car-cont">
            <img src="{{ url_for('static', filename='img/cars/' + model.series + '/' + model.subseries.lower() + '-side.avif') }}" alt="{{ model.series }} {{ model.subseries }}">
        </div>
        <div class="ModelIntro_contentRow">
            <h1>{{ model.subseries }}</h1>
            <div>
                {% if model.is_gazoline %}
                <div class="car-type">
                    <span>Gasoline</span>
                </div>
                {% endif %}
                
                {% if model.is_electric %}
                <div class="car-type">
                    <span>Electric</span>
                </div>
                {% endif %}
                
                {% if model.is_hybrid %}
                <div class="car-type">
                    <span>Hybrid</span>
                </div>
                {% endif %}
            </div>
            <p class="price-p">from £ 103,700.00 incl. VAT</p>
            <div class="btn-intro">
                <button class="strange-btn">Change model</button>
                <button class="strange-btn-wh">Configure</button>
                <button class="strange-btn-wh">Buy new and used cars</button>
                <button class="strange-btn-wh">Book a Test Drive</button>
            </div>
            <div class = "dis-text">
                <p>{{ model.description }}</p>
            </div>
        </div>
    </section>
    <div class="modeltechnical-haracteristics">
        <div class="modeltechnical-left">
            <div class="row">
                <div class="row-upper">
                    <div class="counter-container">
                        <div class="counter-roller" data-target="{{ model.to100 }}" data-type="float">
                            <div class="digit-wrapper">
                                {% for i in range(0, 101) %}
                                <span>{{ "%.1f"|format(i * 0.1) }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <p>secs</p>
                    </div>
                </div>
                <div class="row-footer">
                    <p>Acceleration 0-62 mph (0-100 km/h) with Sport Chrono Package</p>
                </div>
            </div>
            <div class="row">
                <div class="row-upper">
                    <div class="counter-container">
                        <div class="counter-roller" data-target="{{ model.power|int }}" data-type="int">
                            <div class="digit-wrapper">
                                {% for i in range(0, 1001) %}
                                <span>{{ i }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <p>PS</p>
                    </div>
                </div>
                <div class="row-footer">
                    <p>Power (PS)</p>
                </div>
            </div>
            <div class="row">
                <div class="row-upper">
                    <div class="counter-container">
                        <div class="counter-roller" data-target="{{ model.top_speed|int }}" data-type="int">
                            <div class="digit-wrapper">
                                {% for i in range(0, 401) %}
                                <span>{{ i }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <p>mph</p>
                    </div>
                </div>
                <div class="row-footer">
                    <p>Top speed</p>
                </div>
            </div>
        </div>
        <div class="modeltechnical-right">
            <img src="{{ url_for('static', filename='img/cars/' + model.series + '/' + model.subseries.lower() + '-front.avif') }}" alt="{{ model.series }} {{ model.subseries }}">
        </div>
    </div>



    {% block scripts %}
    <script src="{{ url_for('static', filename='js/mod.js') }}"></script>
    {% endblock %}
{% endblock %}