{% extends "base.html" %}

{% block content %}

<div class="profile-page">
    <div class="models-page-header">
        <h1>Profile</h1>
    </div>
    <div></div>
    <div class="status-cont">
        <button class="according-control">
            <div class="according-control-header">
                <p class="p1">Profile completion</p>
                <p class="p2">Win the data race.</p>
                <p class="p3">You're almost done. Complete your data so we can provide you with the best possible support.</p>
            </div>
            <div class="according-control-race">
                <div class="bar-progress">
                    <div class="progress-fill" style="width: 40%"></div>
                </div>
                <div class="bar-info">
                    <img src="{{ url_for('static', filename='img/race.svg') }}" alt="">
                    <p>40%</p>
                </div>
            </div>
        </button>
        <hr>
        <div class="status-personal-data-cont">
            <div class = "column">
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/user.svg') }}">
                    <p>Personal data</p>
                </div>
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/add.svg') }}">
                    <p>Name</p>
                </div>
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/add.svg') }}">
                    <p>Date of birth</p>
                </div>
            </div>
            <div class = "column">
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/phone.svg') }}">
                    <p>Contact details</p>
                </div>
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/add.svg') }}">
                    <p>E-mail</p>
                </div>
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/success.svg') }}">
                    <p>Mobile phone number</p>
                </div>
            </div>
            <div class = "column">
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/map.svg') }}">
                    <p>Addresses</p>
                </div>
                <div class = "row">
                    <img src="{{ url_for('static', filename='img/add.svg') }}">
                    <p>Adress</p>
                </div>
            </div>
            <div class="column">
                <div class = "row">
                    <button class = "black-btn">Complete your profile</button>
                </div>
            </div>
        </div>
    </div>


</div>


    {% block scripts %}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    {% endblock %}
{% endblock %}

